<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi.unitydevlib"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name">

        <activity android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>

        <meta-data
            android:name="miGameAppId"
            android:value="mi_2882303761520479149" />
        <meta-data
            android:name="miGameAppKey"
            android:value="mi_5592047971149" />

        <!--        ${applicationId}  替换为游戏包名        -->
        <provider
            android:name="com.xiaomi.gamecenter.sdk.MiOauthProvider"
            android:authorities="chengyu.idiom.hexa.zen.mi.mi_provider"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>